<p id="notice"><%= notice %></p>

<h1>Users Has Ingredients</h1>

<table>
  <thead>
    <tr>
      <th>Users</th>
      <th>Ingredient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_has_ingredient.each do |users_has_ingredient| %>
      <tr>
        <td><%= users_has_ingredient.users_id %></td>
        <td><%= users_has_ingredient.ingredient_id %></td>
        <td>   <br/><button class="button">
	      <td>   
	
	     <br/><button class="button">
	     <%= image_tag(@ingredient.IngredientImage, :width => '80', :height =>'80' ) %>
	     <br/>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Has Ingredient', new_users_has_ingredient_path %>
