<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @users_has_ingredient.users_id %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @users_has_ingredient.ingredient_id %>
</p>

<%= link_to 'Edit', edit_users_has_ingredient_path(@users_has_ingredient) %> |
<%= link_to 'Back', users_has_ingredients_path %>
